package signup

import (
	"github.com/GeorgiChalakov01/spaceresearch/backend/app/pages/base"
	"github.com/GeorgiChalakov01/spaceresearch/backend/app/pages/signup/components/form"
)

templ signupContent() {
	@form.Form()
}

templ SignUp() {
	@base.Base("SignUp", signupContent())
}
