package signup

import (
    "spaceresearch/backend/core"
    "spaceresearch/backend/pages/layout"
    "spaceresearch/backend/pages/signup/sections/signupForm"
)

templ SignUp() {
    @layout.Base(false, core.User{}, signupForm.SignUpForm())
}
