package signup

import (
    "teamforger/backend/core"
    "teamforger/backend/pages/layout"
    "teamforger/backend/pages/signup/sections/signupForm"
)

templ SignUp() {
    @layout.Base(false, core.User{}, signupForm.SignUpForm())
}
