package home

import (
	"github.com/GeorgiChalakov01/spaceresearch/pages/base"
	"github.com/GeorgiChalakov01/spaceresearch/pages/home/components/welcome"
)

templ Home() {
	@base.Base("Home", welcome.Welcome())
}
