package home

import (
	"github.com/GeorgiChalakov01/spaceresearch/backend/app/pages/base"
	"github.com/GeorgiChalakov01/spaceresearch/backend/app/pages/home/components/welcome"
	"github.com/GeorgiChalakov01/spaceresearch/backend/app/pages/home/components/options"
)

templ homeContent() {
	@welcome.Welcome()
	@options.Options()
}

templ Home() {
	@base.Base("Home", homeContent())
}
