package options

import (
)

templ Options() {
<div class="container">
	<div class="row justify-content-center">
		<div class="col-7">
			<a href="/upload" class="text-center">Upload Files</a>
			<a href="/chat" class="text-center">Chat</a>
		</div>
	</div>
</div>
}
