package buildTeam

import (
    "spaceresearch/backend/core"
    "spaceresearch/backend/pages/buildTeam/sections/chat"
    "spaceresearch/backend/pages/layout"
)

templ BuildTeam(user core.User) {
    @layout.Base(true, user, chat.Chat(user))
}
