package signin

import (
	"github.com/GeorgiChalakov01/spaceresearch/pages/base"
	"github.com/GeorgiChalakov01/spaceresearch/pages/signin/components/form"
)

templ signinContent() {
	@form.Form()
}

templ SignIn() {
	@base.Base("SignIn", signinContent())
}
