package signin

import (
	"teamforger/backend/core"
	"teamforger/backend/pages/layout"
	"teamforger/backend/pages/signin/sections/signinForm"
)

templ SignIn() {
	@layout.Base(false, core.User{}, signinForm.SignInForm())
}
