package uploadCV

import (
    "spaceresearch/backend/core"
    "spaceresearch/backend/pages/uploadCV/sections/form"
    "spaceresearch/backend/pages/layout"
)

templ UploadCV(user core.User) {
    @layout.Base(true, user, form.Form(user))
}
