package discuss

import (
    "spaceresearch/backend/core"
    "spaceresearch/backend/pages/discuss/sections/chat"
    "spaceresearch/backend/pages/layout"
)

templ Discuss(user core.User) {
    @layout.Base(true, user, chat.Chat(user))
}
