package err

import (
	"github.com/GeorgiChalakov01/spaceresearch/pages/base"
	"github.com/GeorgiChalakov01/spaceresearch/pages/err/components/message"
)

templ errorContent() {
	@message.Message()
}

templ Error() {
	@base.Base("Error", errorContent())
}
